<button
  type="button"
  class="p-3 rounded text-white bg-gray-800"
  (click)="todoStore.updateFilledOnly(!todoStore.filledOnly())"
>
  {{ todoStore.filledOnly() ? 'Show all' : 'Show fulfilled only' }}
</button>

<ul class="flex flex-col gap-2 mt-4">
  @for (item of todoStore.filledTodos(); track item.id) {
    <li class="border border-1 rounded p-4">
      <div class="flex justify-between text-xs mb-2">
        <span>{{ item.date ?? '-' }}</span>

        <div>
          <span>{{ item.location ?? '-' }}</span>

          @if (item.extras) {
            @if (item.extras.error) {
              <span>{{ item.extras.error }}</span>
            } @else {
              <span>
              ({{ item.extras.longitude }}, {{ item.extras.latitude }}), {{ item.extras.temperature }} °C
            </span>
            }
          }
        </div>
      </div>

      <div>{{ item.content ?? '-' }}</div>
    </li>
  }
</ul>
